body {
  margin: 0px;
  padding: 0px;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  padding: 10px;
  margin: 0px;
  font-family: "Avenir Next W02 Thin", "Avenir Next",
  "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p {
  padding: 20px;
  margin: 0px;
  font-size: 17pt;
  font-family: "Avenir Next W02 Thin", "Avenir Next",
  "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

header {
  background-color: rgba(73, 151, 255, 1);
  text-align: center;
}

main {
  background-color: white;
  color: black;
}

footer {
  background-color: rgba(73, 151, 255, 1);
}

#author {
  text-align: right;
}

.img-single {
  width: 30%;
  margin: 35%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.img-left {
  float: left;
  width: 30%;
  margin: 10%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.img-right {
  float: right;
  width: 30%;
  margin: 10%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#img-small {
  width: 37.35%;
  margin: 6.325%;
  margin-top: 0px;
  margin-bottom: 0px;
}
