/*********************
 ***** Main  CSS *****
 *********************/

body {
  padding-top: 51px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.undeveloped {
  display: None;
}

.font-1 {
  font-family: "Avenir Next W02 Thin", "Avenir Next",
               "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#me {
  height: 50vh;
}

#me-wrapper {
  margin: auto;
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  overflow: hidden;
}

/*********************
 *** CSS for About ***
 *********************/
#about {
  background-image: url('../img/main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-origin: content-box;
  text-align: center;
  margin: 0px;
}

#about-verticalCenter {
  background-color: rgba(0, 0, 0, 0.60);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

#about-intro {
  font-size: 4vw;
}

#about-category, #about-button {
  font-size: 2vw;
}

#about-button-wrapper {
  position: relative;
  transform: translateY(-50%);
  top: 60%;
}

/**************************
 *** CSS for Experience ***
 **************************/
#experience {
  background-color: #545894;
  color: white;
  overflow: hidden;
  padding: 20px;
}

#experience a {
  color: white;
  text-decoration: underline;
}

#experience-nav a {
  color: white;
  text-decoration: none;
}

#experience-nav li.active a:link {
  color: #545894;
}

#experience-nav a:hover,
#experience-nav a:visited {
  color: #545894;
}

/**************************
 *** CSS for Education  ***
 **************************/
#education {
  background-color: #191C59;
  color: white;
  overflow: hidden;
  padding: 20px;
}

#education a {
  color: white;
  text-decoration: underline;
}

#education-nav a {
  color: white;
  text-decoration: none;
}

#education-nav li.active a:link {
  color: #191C59;
}

#education-nav a:hover,
#education-nav a:visited {
  color: #191C59;
}

/**************************
 ***   CSS for Skills   ***
 **************************/
#skills {
  background-color: #080B3B;
  color: white;
  overflow: hidden;
  padding: 20px;
}

#skills a {
  color: white;
  text-decoration: underline;
}

/**************************
 ***  CSS for Contact   ***
 **************************/
#contact {
  background-color: #7F81B1;
  color: white;
  overflow: hidden;
  padding: 20px;
}
